.poll {
    background-color: #ffe4e4;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.poll.closed {
    background-color: rgb(211, 192, 198);
    opacity: 0.6;
}

.poll p {
    margin: 0;
}

.pollscontents h4 {
    text-align: center;
}

.pollUserNames {
    font-size: 12px;
}

.entries {
    margin: 10px 0;
}

.hiddenEntries {
    font-size: 12px;
}

.entry {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.entryname {
    z-index: 999;
    flex: 1 1;
    text-align: center;
}

.entrybtns {
    flex: 0 1;
    text-align: right;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    top: -3px;
}

.meter {
    flex: 1 1;
    min-height: 25px;
    position: relative;
    background: #efc4c4;
    border-radius: 3px;
    padding: 5px;
    margin-right: 5px;
    -webkit-box-shadow: inset -1px 1px 1px rgba(141, 23, 23, 0.3);
    box-shadow: 0 1px 3px rgba(39, 39, 39, 0.46);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.pollentrybar {
    display: block;
    height: 100%;
    background-color: rgb(224, 168, 168);
    /* box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4); */
    border: 1px solid #c08d8d;
    position: absolute;
    overflow: hidden;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    left: 0;
}